<div class="container">
<%= @user.inspect %>
<%= @user.profile.first_name %> <%= @user.profile.last_name %>
<%= @user.profile.fav_artist%>
<%= @user.profile.fav_genre%>
<%= @user.profile.bio %>
</div>